<form>
    <div class="form-group">
      <label for="inputHelp">Search Product</label>
      <div class="input-group mb-3">
          <input type="text" class="form-control input-lg" id="search" aria-describedby="instantSearch" placeholder="Search" name="search_term" />
          <div class="input-group-append">
              <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
          </div>
        </div>
    </div>
</form>
