<!DOCTYPE html>
<html>

    <% include ../partials/head %>

  <body>

    <% include ../partials/nav %>
    <% include ../partials/main-search %>
    <% include ../partials/footer %>
  </body>
  <script
  src="https://code.jquery.com/jquery-3.4.0.js"
  integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
  crossorigin="anonymous"></script>
  <script src="/public/javascripts/instant-search.js"></script>
</html>
